.tokenSearchPopup {
  width: 400px!important;
  height: auto!important;
  border-radius: 16px!important;
  background-color: var(--gray100)!important;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
  padding: 16px!important;
  color: var(--primary)!important;
  display: flex;
  flex-direction: column;
  gap: 12px;
  .tokenSearchPopupContent {
    display: flex;
    flex-direction: column;
    gap: 12px;
    .topTokens {
      display: grid;
      grid-auto-flow: column;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr 1fr;
      gap: 8px;
      .token {
        display: flex;
        align-items: center;
        border: 1px solid var(--gray200);
        border-radius: 8px;
        padding: 4px 8px;
        gap: 8px;
        cursor: pointer;
        .symbol {
          font-size: 12px;
          font-family: Font-Bold;
        }
        &:hover {
          background-color: var(--gray200)
        };
      }
    }
    .list {
      display: flex;
      flex-direction: column;
      overflow-y: scroll;
      height: 360px;
      .item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px;
        height: 64px;
        border-radius: 8px;
        flex-shrink: 0;
        cursor: pointer;
        &:hover {
          background-color: var(--gray200);
        };
        .itemLeft {
          display: flex;
          align-items: center;
          gap: 8px;

          .nameSymbol {
            display: flex;
            flex-direction: column;
            gap: 4px;

            .symbol {
              font-size: 14px;
              font-weight: 500;
              color: var(--primary);
              font-family: Font-Bold;
            }
            .name {
              font-size: 14px;
              color: var(--secondary);
            }
          }
        }
        .itemRight {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          .balance {
            font-size: 14px;
            font-weight: 500;
            color: var(--primary);
            font-family: Font-Bold;
          }
          .balanceUSD {
            font-size: 14px;
            color: var(--secondary);
          }
        }
      };
    }
    .searchBar {
      display: flex;
      align-items: center;
      position: relative;
      padding:16px;
      border-radius: 8px;
      background-color: var(--gray0);

      input {
        position: absolute;
        width: calc(100% - 24px);
        height: 100%;
        border: none;
        background-color: transparent;
        padding-left: 24px;
        color: var(--primary);
        font-size: 16px;
        &::placeholder {
          color: var(--secondary);
        }
      }
    }
  }
  .tokenSearchPopupHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .title {
      font-size: 18px;
      font-weight: 500;
      color: var(--gray900);
      font-family: Font-Bold;
    }
    .closeBtn {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background-color: var(--gray100);
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
  }
}